.title {
    font-size: 128px;
    font-family: Roboto Condensed;
    margin: 0;
    position: relative;
    text-align: center;
    font-weight: bold;
    top: 76px;
    text-wrap: nowrap;
    overflow: hidden;
}

@media screen and (width <= 768px) {
    .title {
        font-size: 96px;
        top: 57px;
    }
}

@media screen and (width <= 640px) {
    .title {
        font-size: 60px;
        top: 36px;
    } 
}
