.header-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 32px 64px 0 64px;
    white-space: nowrap;
}

.header-block {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.header-subtext {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
}

.header-text {
    font-size: 16px;
    font-weight: 600;
}

.hb-1 {
    opacity: 0;
    animation: fadeIn 0.7s ease-out forwards;
    animation-delay: 0.6s;
}

.hb-2 {
    opacity: 0;
    animation: fadeIn 0.7s ease-out forwards;
    animation-delay: 0.7s;
}

.hb-3 {
    opacity: 0;
    animation: fadeIn 0.7s ease-out forwards;
    animation-delay: 0.8s;
}

.hb-4 {
    opacity: 0;
    animation: fadeIn 0.7s ease-out forwards;
    animation-delay: 0.9s;
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);  }
    to { opacity: 1; transform: translateY(0px); }
}

/* Responsive design */
@media screen and (width <= 640px) {
    .header-container {
        flex-wrap: wrap;
        padding: 36px 36px 0 36px;
    }

    .header-block {
        flex-basis: 50%;
    }

    .hb-1 {
        margin-bottom: 28px;
    }

    .hb-2 {
        align-items: end;
        align-items: flex-end;
        white-space: wrap;
        text-align: right;
        margin-bottom: 28px;
    }

    .hb-4 {
        align-items: end;
        align-items: flex-end;
        text-align: right;
    }
}
